*{
  margin: 0;
  padding: 0;
}

.bootstrap{
  background-color:rgb(44, 62, 80);
  width: 100%;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

.bootstrap h2{
  color: white;
  text-transform: capitalize;
  font-size: 28px;
  margin-top:20px;
  font-weight:bold;
}

ul li{
  list-style-type: none;
  display: inline-block;
  padding: 40px;
  font-weight:bold;
}

a{
  color: white;
  text-decoration: none;
}
/****************************************************/
.Graphic{
  background-color: rgb(26, 188, 156);
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Graphic h1{
  font-size:60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 10px;

}
.Graphic img{
  width: 10%;
}

.Graphic p{
  font-size: 20px;
  color: white;
  padding-top: 10px;
}
/****************************************************/
.Portfolio{
  padding-top: 40px;
  padding-bottom: 40px;
}
.Portfolio h1{
  font-size:60px;
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:rgb(44, 62, 80);
  text-align: center;

}

.products{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 20px;

}
.product{
  width: 30%;
}

.product img{
  width: 100%;
  border-radius: 20px;
}

/****************************************************/
.abouts{
  background-color:rgb(26, 188, 156);
  width: 100%;
  height:440px;
  text-align: center;
  padding-top: 90px;
}

.abouts h1{
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  padding-bottom: 20px;
}

.cr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width:100%;
  gap: 20px;
}

.create{
  color: white;
  width:450px;
  height: 130px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  font-weight: 400;
}

.abouts button{
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight:400;
  width: 250px;
  height:65px ;
  font-size: 20px;
  background-color:rgb(26, 188, 156);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
}
/****************************************************/
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon svg{
  width: 40px;
  height: auto;
}

.line{
  background-color: white;
  width: 112px;
  height: 4px;
  border-radius: 25px;
}
/****************************************************/
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.icons svg{
  width: 40px;
  height: auto;
}

.lines{
  background-color: rgb(44, 62, 80);
  width: 112px;
  height: 4px;
  border-radius: 25px;
}

/****************************************************/

.container{
  width: 100%px;
  height:709.133px;
  
}

.container h1{
  text-align: center;
  color: rgb(44, 62, 80);
  font-size: 48px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
}

.contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

.contacts .cont{
  width:100%;
  max-width: 500px;
}

.contacts input{
  width: 100%;
  padding:8px 10px;
  font-size:16px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px outset red;
  margin-bottom: 15px;
  background-color: transparent;
  outline: none;
}

.contacts button{
  width: 50%;
  padding: 12px;
  font-size: 16px;
  background-color:rgb(26, 188, 156) ;
  border: none;
  color: white;
  border-radius: 10px;
}

/****************************************************/
.footer{
  background-color: rgb(44, 62, 80);
  width: 100%;
  height: 227px;
}

.location{
  height:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0px 20px;
}

.john{
  color: white;
  text-align: center;
}

.john h4{
  font-size: 24px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin: 20px 0;
}

.john p{
  width: 250px;
  font-size: 20px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  margin: 0 auto;
}

.icon2 {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

